body {
  margin: 0;
  background-color: #000;
  overflow: hidden;
  font-family: Arial, sans-serif;
  color: #fff;
}

h1 {
  position: absolute;
  top: 0;
  left: 0;
  margin: 10px;
  font-size: 2rem;
  color: white;
}

p {
  position: absolute;
  margin: 0;
  top: 35px;
  right: 10px;
  color: #aaa;
  font-size: 1.2rem;
  font-family: Arial, sans-serif;
}

canvas {
  display: block;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.25);
}